<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TanTanTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D857A9A91EC54DD7008F380E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D857A9C21EC54DD7008F380E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D857A9CD1EC54DD7008F380E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
